# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DependencyInjectionTutorial.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspaces\Tutorials\DependencyInjectionTutorial\.idea\.idea.DependencyInjectionTutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
